/* ---- Side Nav ------- */
.sidenav,
.sidenav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    @include auro_transition;
  }
}

.sidenav {
  width: 0;
  left: -300px;
  transition: all .3s ease;
  position: fixed;
  z-index: 100;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  overflow: scroll;
  top: 0;
  background-color: var(--auro-color-background-lighter);
  background-color: #f8f8f8;

  .isHeading {
    margin: var(--auro-size-lg) 0 0;
  }

  a {
    margin-bottom: var(--auro-size-sm);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include auro_breakpoint--lg {
    width: 245px;
    margin: 0;
  }

  @include auro_breakpoint--sm {
    left: 0;
    display: block;
    opacity: 1;
    left: auto;
    width: 248px;
    top: 80px;
    padding-bottom: 100px;
    height: calc(100% - 80px);
  }
}

.auro_hyperlink.is-active,
.auro_hyperlink--active,
.hyperlink--active {
  color: var(--auro-color-text-primary-on-light) !important;
  text-decoration: none !important;
  cursor: default;
}

.auro_hyperlink--active.auro_hyperlink--nav:not(.is-touching):hover,
.hyperlink--active.hyperlink--nav:not(.is-touching):hover {
  text-decoration: none !important;
  cursor: default;
}

.auro_hyperlink--nav {
  margin-top: var(--auro-size-md);

  &:first-child {
    margin-top: var(--auro-size-xs);
  }
}

.auro_hyperlink--subNav {
  margin-top: 0;
  padding-left: var(--auro-size-xs);
}

.auro_hyperlink--parent + .auro_hyperlink--parent {
  margin-top: 0;
}

.menuCheckbox {
  opacity: 0;
}

.menuCheckbox,
.menuCheckbox--label {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 299;
  background-color: orange;
  height: 85%;
  width: 25px;


  @include auro_breakpoint--sm {
    display: none;
  }
}

.menuCheckbox--label {
  height: 0;

  &::before {
    display: block;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--auro-color-background-lighter);
    box-shadow: 0px 0px 10px #222;
    right: -12px;
    bottom: 0;
    z-index: -1;
  }
}

.menuIcon {
  display: block;
  margin-top: -150%;

  @include auro_breakpoint--sm {
    display: none;
  }
}

.closeIcon {
  display: none;
  margin-top: -150%;
}

.menuCheckbox:checked + .menuCheckbox--label {
  .menuIcon {
    display: none;
  }
  .closeIcon {
    display: block;
  }
}

.menuCheckbox {
  &:checked {
    & ~ .sidenav {
      opacity: 1;
      left: 0;
      background-color: var(--auro-color-background-lightest);
      width: 80%;
      box-shadow: 0px 15px 28px -10px var(--auro-color-background-darker);
      margin-left: 0;
      padding-left: 30px;
      padding-top: 50px;
      padding-bottom: 20vh;
    }
  }
}

.link {
  @extend .auro_hyperlink;

  &.is-active {
    color: #054687;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    padding-bottom: calc(1rem - 1px);
    cursor: default !important;
  }
}
